/*:root{
    --bg-color:#191f36;
    --snd-bg-color:#262840;
    --text-color:#fff;
    --main-color:#59B2F4;
}
    
.skills-container {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 10px;*/
    /*gap: 20px;
    justify-content: center;
}

.skills-container .skills-box{
    font: 1 1 30rem;
    border-radius: 2rem;
    text-align: center;
    border: .3rem solid var(--bg-color);
    transition: .6s ease;
}

.skills-container .skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    gap: 12px;
}
    
.skill {
    width: 100%;
    border: 0.1px solid #04068f;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    max-width: 350px;
    padding: 20px 10px;
}
    
.skill-title {
    font-size: 28px;
    font-weight: 550;
    color: #b0afaf;
    text-align: center;
}
    
.skill-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 15px;
}
    
.skill-item {
    font-size: 16px;
    font-weight: 300;
    border-radius: 12px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.skill-item img {
    width: 25px;
    height: 25px;
}*/